name: Biome CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  biome:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: 2.2.6

      - name: Run Biome checks
        run: biome ci .
